@import url(https://fonts.google.com/specimen/Outfit);

h1,
h5 {
  background: #fff;
  font-family: "Outfit", sans-serif;
}
.attribution {
  font-size: 0.6875;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(212, 45%, 89%);
}
.card-title {
  padding-left: 5%;
  padding-right: 5%;
}
