@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

h1,
h5 {
  background: #fff;
  font-family: "Outfit", sans-serif;
}
h1 {
  font-size: 2rem;
}
h5 {
  font-size: 1.2rem;
}
.attribution {
  font-size: 0.6875;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(212, 45%, 89%);
}
:root {
  --padding-x: 5%;
}
.card-title {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}
